<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Francesco Macchione</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
    .header {
        color: #e0e0e0;
    }
    .skill-body{
        text-align: center;
    }
    .skill-body p{
        font-size: 20px;
    }
    </style>

</head>

<body>

    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            
        </div>
        <div class="text-vertical-center">
            <div style="text-align:left;">
                <img class="img-circle img-thumbnail" src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/000/1c4/0c4/2a7b0a2.jpg" />
            </div>
            <h1>Francesco Vincenzo Macchione</h1>
            <h3>Mechatronics Engineer</h3>
            <br>
            <% if(company && company.name) { %>
            <h5>Hello <%-company.name%>, thank you for taking the time to view my website.</h5>
            <% } %>
            <a href="#about" class="btn btn-dark btn-lg">About</a>
            <a href="/resume" class="btn btn-dark btn-lg">Dynamic R&eacute;sum&eacute;</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Welcome</h2>
                    <p class="lead">This isn't just a static website. This is powered with <a href="http://nodejs.org">Node.js</a> and is hosted off of my own old computer. No GitHub Pages or Amazon S3 here.</p>
                    <h3>Why?</h3>
                    <p class="lead">Dynamic applications are awesome! Check out this auto generated <a href="/resume">r&eacute;sum&eacute;</a>.</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Versions -->
    <section class="bg-primary">
        <div class="container" style="padding-top: 20px; padding-bottom: 20px;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>This site is still in the beginning stages! <i class="fa fa-cogs"></i></h2>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>Contact Me</strong>
                    </h4>
                    <p>28 Cardill <br>Waterloo, ON</p>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> (647) 501-4903</li>
                        <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:fvmacchi@uwaterloo.ca">fvmacchi@uwaterloo.ca</a>
                        </li>
                    </ul>
                    <br>
                    <ul class="list-inline">
                        <li>
                            <a target="_blank" href="https://github.com/fvmacchi"><i class="fa fa-github fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/pub/francesco-macchione/5b/b78/17a"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                    <hr class="small">
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery Version 1.11.0 -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>
</body>

</html>
